[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pillow = "*"
gunicorn = "*"
python-decouple = "*"
unipath = "*"
dj-static = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
