{% extends "bas.html" %}
{%  load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/--mp---Multiple-items-slider-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-CSS-Waves-Background-SVG.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-Menu-Icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Bold-BS4-Header-with-HTML5-Video-Background.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/BSB-Slider-3-Products.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Card-hover-affect-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Collapsible-Sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-card-image-left-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-header-cover-image-button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Diagonal-div-section.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Feature-Block-Image-Three-With-Full-Wide-Screen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/featured-products-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/featured-products-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Improved-v10.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-with-social-media-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js' %}/1.10.0/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Icon-Bar-Horizontal---mloureiro1973-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Icon-Bar-Horizontal---mloureiro1973.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Image-Tab-Gallery-Horizontal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Paralax-Hero-Banner.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Paralax-Hero-Banner-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive-blog-card-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Responsive-Card-Item-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Search-Input-Responsive-with-Icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
</head>

<body>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <div class="bg-light border rounded border-light hero-technology jumbotron py-5 px-4">
                        <h1 class="hero-title">Hero Technology</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                    </div>
                    <section class="features-blue">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Nuestros Valores</h2>
                            </div>
                            <div class="row features">
                                <div class="col-sm-6 col-md-4 item centermobile"><i class="fa fa-users icon mobilecentericon"></i>
                                    <h3 class="name mobilecentertext">Solidaridad</h3>
                                    <p style="padding-top: 10px;">Paragraph</p>
                                </div>
                                <div class="col-sm-6 col-md-4 item"><i class="fas fa-hands icon mobilecentericon"></i>
                                    <h3 class="name mobilecentertext">Generosidad</h3>
                                    <p style="padding-top: 10px;">Paragraph</p>
                                </div>
                                <div class="col-sm-6 col-md-4 item"><i class="fas fa-handshake icon mobilecentericon"></i>
                                    <h3 class="name mobilecentertext">Equidad</h3>
                                    <p style="padding-top: 10px;">Paragraph</p>
                                </div>
                                <div class="col-sm-6 col-md-4 item"><i class="fa fa-heart icon mobilecentericon"></i>
                                    <h3 class="name mobilecentertext">Empatía</h3>
                                    <p style="padding-top: 10px;">Paragraph</p>
                                </div>
                                <div class="col-sm-6 col-md-4 item"><i class="fa fa-gavel icon mobilecentericon"></i>
                                    <h3 class="name mobilecentertext">Justicia</h3>
                                    <p style="padding-top: 10px;">Paragraph</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h2 class="text-info">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
              
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/avatars/avatar1.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">John Smith</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/avatars/avatar2.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Robert Downturn</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/avatars/avatar3.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Ally Sanders</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Team </h2>
                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                    </div>
                    <div class="row people">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="{% static 'assets/img/1.jpg' %}">
                                <h3 class="name">Ben Johnson</h3>
                                <p class="title">Musician</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="{% static 'assets/img/2.jpg' %}">
                                <h3 class="name">Emily Clark</h3>
                                <p class="title">Artist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="{% static 'assets/img/3.jpg' %}">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="team-grid">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Team </h2>
                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet.&nbsp; </p>
                    </div>
                    <div class="row people">
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background-image:url(assets/img/1.jpg) ">
                                <div class="cover">
                                    <h3 class="name">Ben Johnson</h3>
                                    <p class="title">Musician</p>
                                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background-image:url(assets/img/2.jpg)">
                                <div class="cover">
                                    <h3 class="name">Emily Clark</h3>
                                    <p class="title">Artist </p>
                                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background-image:url(assets/img/3.jpg)">
                                <div class="cover">
                                    <h3 class="name">Carl Kent</h3>
                                    <p class="title">Stylist </p>
                                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 item">
                            <div class="box" style="background-image:url(assets/img/4.jpg)">
                                <div class="cover">
                                    <h3 class="name">Felicia Adams</h3>
                                    <p class="title">Model </p>
                                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'assets/js/--mp---Multiple-items-slider-responsive-1.js' %}"></script>
    <script src="{% static 'assets/js/--mp---Multiple-items-slider-responsive.js' %}"></script>
    <script src="{% static 'assets/js/Card-hover-affect-2.js' %}"></script>
    <script src="{% static 'assets/js/Collapsible-Sidebar.js' %}"></script>
    <script src="{% static 'assets/js/featured-products-slider.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js' %}/1.14.0/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js></script>
    <script src="{% static 'assets/js/Image-Tab-Gallery-Horizontal.js' %}"></script>
    <script src="{% static 'assets/js/Layer-Slider.js' %}"></script>
    <script src="{% static 'assets/js/Paralax-Hero-Banner.js' %}"></script>
    <script src="{% static 'assets/js/responsive-blog-card-slider-1.js' %}"></script>
    <script src="{% static 'assets/js/responsive-blog-card-slider.js' %}"></script>
</body>
{% endblock %}
</html>
