{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IUT MOIC |“ Learners Today ,Leaders Tomorrow ”</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Footer-with-social-media-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/Icon-Bar-Horizontal---mloureiro1973-1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Icon-Bar-Horizontal---mloureiro1973.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Social-Icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vanilla-zoom.min.css' %}" type="text/css">

    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_2734e85d4d1ede74694c37564e570f879'
        });
    </script>

</head>

<body>
    <!--same this here -->
    <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" href="{% url 'moic:index' %}" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:corona' %}">Unveil the change maker within you!</a></li>
                </ul>
    </nav>
    <!-- <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="pricing.html">اَلْعَرَبِيَّةُ</a></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:index' %}">english</a></li>
                </ul>
            </div><a id="arab-1" href="#li">Francais</a>
        </div>
    </nav>
    <!--->
    <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="#fd">اَلْعَرَبِيَّةُ</a></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:index' %}">english</a></li>
                </ul>
            </div><a id="arab-1" href="#fr">Francais</a>
        </div>
    </nav> -->
    <main id="landing" class="page landing-page">
        <div><img id="pi" src="{% static 'images/logo.jpg' %}"><span id="learner"><strong>“ Learners Today ,Leaders Tomorrow ”</strong></span>
            <form class="search" action="#link" method="get">
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
                <i class="fas fa-search"></i>
                <input name="q" class="fas fa-search" type="text" autocomplete="off" placeholder="click to search"></form>
        </div>
        <div class="block-heading" style="height: 40px;"></div>
        <link rel="stylesheet" href="{% static 'css/newmain.css' %}" type="text/css">
        <nav class="navbar" style="background-color: #000000;
        margin-left: 110px;
        padding-top: 0px; 
        font-size: 12; height: 26px;">
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn">About Us »</button>
                <div class="subnav-content">
                    <a href="{% url 'moic:mission' %}">Mission & History</a>
                    <a href="{% url 'moic:dirigeants' %}">Leadership</a>
                    <a href="{% url 'moic:conference' %}">Conference Archieves</a>
                </div>
            </div>
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn">Our Work»</button>
                <div class="subnav-content">
                    <a href="{% url 'moic:simulation' %}">OIC Simulation</a>
                    <a href="{% url 'moic:humanity' %}">Humanitaria aid </a>
                    <a href="{% url 'moic:sustainable' %}">Promote sustainable development</a>
                </div>
            </div>
            <div class="subnav" style="
            overflow: hidden;
            border-right: .1px solid #ffffff7c;">
                <button class="subnavbtn" id="haov"><a style="color: white;" href="{% url 'moic:involved' %}">Get Involved</a></button>
            </div>
            </div>
            </div>
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn" style="color: hsl(0, 0%, 97%); background-color: red; float:  0px;"><a style="color: white;" href="{% url 'moic:corona' %}">Coronavirus(Covid-19)</a></button>
            </div>
        </nav>

         {% block content %}
         {% endblock %}
        
            <footer class="footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Become</h3>
                            <ul>
                                <li><a href="#">MOIC Volunteer</a></li>
                                <li><a href="#">Partner</a></li>
                                <li><a href="#">Suppporter</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">IUT MOIC Community</a></li>
                                <li><a href="#">Goals</a></li>
                                <li><a href="#">Achievements</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>IUT MODEL OIC</h3>
                            <p>Being Executive Members of a club is not always an easy task. Some soft skills are required.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i><a href="#"><i class="icon ion-social-linkedin"></i></a></div>
                    </div>
                    <p class="copyright">IUT Model OIC © 2016</p>
                </div>
            </footer>
        </section>
    </main>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/vanilla-zoom.js' %}" type="text/css"></script>
    <script src="{% static 'js/theme.js' %}" type="text/css"></script>
</body>

</html>