{% load static %}
{% block content %}







<title>IUT MOIC |“ Learners Today ,Leaders Tomorrow ”</title>





<link type="text/css" rel="stylesheet" href="{% static 'vol1/bootstrap.css' %}"
  media="all" />


<link type="text/css" rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />
<style type="text/css">
  @import url("https://www.un.org/sites/un2.un.org/themes/bootstrap_un2/css/style.css?r3p8j1");
</style>
<style type="text/css">
  @import url("https://www.un.org/sites/un2.un.org/themes/bootstrap_un2/css/style-chronicle.css?r3p8j1");
</style>














<style>
  ul#main-menu li.menu-23304.top-level a {
    background-color: #c20000;
  }



  ul#main-menu li.menu-23304.top-level a.active,
  ul#main-menu li.menu-23304.top-level a.hover,
  ul#main-menu li.menu-23304.top-level a.active-menu {
    background-color: #f2f2f2;
  }
</style>


<!-- non-semantic .wrapper for all pages and languages to apply CSS 

    <!-- UN.ORG language bar -->
<!--
    <div id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    -->
<nav id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- UN global brand bar -->
  <div class="container-fluid brandbar-header language-switcher">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#language-switcher"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#gf" style="color: #216d59;">Welcome to IUT Model OIC</a>
    </div>
    <div class="navbar-collapse collapse" id="language-switcher">
      <nav role="navigation">
        <ul class="language-switcher-locale-url nav navbar-nav navbar-right" role="menu">
          <ul class="language-switcher-locale-url">
            <li class="ar first"><a href="#ar" class="language-link" xml:lang="ar" role="menuitem"
                style="color: #216d21;">العربية</a></li>
            <li class="en active"><a href="#en" class="language-link active" xml:lang="en" role="menuitem"
                style="color: #216d21;">English</a></li>
            <li class="fr"><a href="#fr" class="language-link" xml:lang="fr" role="menuitem"
                style="color: #216d21;">Français</a></li>
          </ul>
        </ul>
      </nav>
    </div>
  </div><!-- /.container -->
</nav>
<!-- /UN global brand bar and language switcher -->
<!-- UN.ORG language bar end -->
<!-- end un-header -->

<div class="front-wrapper front-wrapper-en" style="color: #216d21;">
  <!-- non-semantic front-only .front-wrapper to apply CSS -->


  <header id="navbar" role="banner" class="">
    <div class="container">
      <!-- <nav class="navbar navbar-default"> -->
      <div class="navbar-header">


        <img id="pi" src="{% static 'images/logo.jpg' %}" alt="#fd"
          style="height: 155px; width: 150px; float: left; border: solid #216d21 1.5px;">

        <span class="navbar-brand pull-left flip" href="#" style="color: #216d59; margin-left: 50px;">“ Learners Today
          ,Leaders Tomorrow ”</span>

        <div class="search-form col-md-3 hidden-sm hidden-xs pull-right flip">
          <section class="region region-search">
            <section id="block-search-form" class="block block-search clearfix">
              <form class="form-search content-search" action="/en/site-search" method="get" id="search-block-form"
                accept-charset="UTF-8">
                <div>
                  <div>
                    <h2 class="element-invisible">Search</h2>
                    <div class="input-group">
                      <input title="Enter the terms you wish to search for." placeholder="Search"
                        class="form-control form-text" type="text" name="query" value="" size="15" maxlength="128">
                      <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span
                            class="element-invisible">Submit Search</span><i class="fa fa-search"
                            aria-hidden="true"></i></button></span>
                    </div>
              </form>

            </section>
          </section>
        </div>


        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="bs-navbar-main-menu">
        <ul id="main-menu" class="nav navbar-nav">
          <li class="menu-23298 top-level"><a href="#en/about-us" role="button" class="" aria-expanded="false"
              title="">About Us<span class="sf-sub-indicator"> »</span></a>
            <ul class="subnav " id="subnav-23298">
              <li class="menu-23298"> <a href="#en/about-us/member-states" title="" class="">Member States</a>
              </li>
              <li class="menu-23298"> <a href="#en/about-us/main-bodies" title="" class="">Main Bodies</a> </li>
              <li class="menu-23298"> <a href="#https://www.un.org/sg/en" title="" class="">Secretary-General</a>
              </li>
              <li class="menu-23298"> <a href="#en/about-us/secretariat" title="" class="">Secretariat</a> </li>
              <li class="menu-23298"> <a href="#en/about-us/un-system" title="" class="">UN System</a> </li>
              <li class="menu-23298"> <a href="#en/about-us/history-of-the-un" title="" class="">History</a>
              </li>
            </ul>
          </li>
          <li class="menu-23299 top-level"> <a href="#en/our-work" role="button" class="" aria-expanded="false"
              title="">Our Work <span class="sf-sub-indicator"> »</span> </a>
            <ul class="subnav " id="subnav-23299">
              <li class="menu-23299"> <a href="#en/our-work/maintain-international-peace-and-security" title=""
                  class="">Peace and Security</a> </li>
              <li class="menu-23299"> <a href="#en/our-work/protect-human-rights" title="" class="">Human Rights</a>
              </li>
              <li class="menu-23299"> <a href="#en/our-work/deliver-humanitarian-aid" title="" class="">Humanitarian
                  Aid</a> </li>


              <li class="menu-23299"> <a href="#en/global-issues" title="" class="">Global Issues</a> </li>
              <li class="menu-23299"> <a href="#en/our-work/documents" title="" class="">Documents</a> </li>
              <li class="menu-23299"> <a href="#en/our-work/official-languages" title="" class="">Official
                  Languages</a> </li>
            </ul>
          </li>
          <li class="menu-23301 top-level"> <a href="#en/events-and-news" role="button" title="" class="">Events and
              News </a></li>
          <li class="menu-23297 top-level"> <a href="#/en/get-involved" role="button" title="" class="">Get Involved
            </a></li>
          <li class="menu-23304 top-level"> <a href="#/en/coronavirus" role="button" title="" class="">Coronavirus
              (COVID-19) </a></li>
        </ul>
      </div>
      <!-- </nav> -->

    </div>
  </header>

  {% endblock %}


  </html>