<!-- this is where our secod file will reside. -->
<!-- this is  our secod template file will be. -->
 <!-- now we can write the nav bar here  <nav> here it is </nav>   -->
  
<meta name="dc.publisher" content="United Nations">
<meta name="dc.format" content="text/html">
<meta name="dc.language" content="EN">
<meta name="dc.rights" content="United Nations © Copyright 2020">
<meta property="og:title" content="Welcome to the United Nations">
<meta property="og:image" content="logo.jpg">
<meta property="og:image" content="logo.jpg">

