{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IUT MOIC |“ Learners Today ,Leaders Tomorrow ”</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Footer-with-social-media-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/Icon-Bar-Horizontal---mloureiro1973-1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Icon-Bar-Horizontal---mloureiro1973.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Social-Icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vanilla-zoom.min.css' %}" type="text/css">

    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_2734e85d4d1ede74694c37564e570f879'
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" href="{% url 'moic:index' %}" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="pricing.html">اَلْعَرَبِيَّةُ</a></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:index' %}">english</a></li>
                </ul>
            </div><a id="arab-1" href="about-us.html">Francais</a>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="pricing.html">اَلْعَرَبِيَّةُ</a></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:index' %}">english</a></li>
                </ul>
            </div><a id="arab-1" href="#li">Francais</a>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand fixed-top border-dark shadow clean-navbar" id="overid">
        <div class="container" id="conter"><i class="fa fa-home d-xxl-flex me-auto justify-content-xxl-start"></i><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="navbar-brand me-auto logo" id="pep"><strong><em>Welcome to IUT Model OIC</em></strong></a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="#fd">اَلْعَرَبِيَّةُ</a></li>
                    <li class="nav-item"><a class="nav-link" id="arab" href="{% url 'moic:index' %}">english</a></li>
                </ul>
            </div><a id="arab-1" href="#fr">Francais</a>
        </div>
    </nav>
    <main id="landing" class="page landing-page">
        <div><img id="pi" src="{% static 'images/logo.jpg' %}"><span id="learner"><strong>“ Learners Today ,Leaders Tomorrow ”</strong></span>
            <form class="search" action="#link" method="get">
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
                <i class="fas fa-search"></i>
                <input name="q" class="fas fa-search" type="text" autocomplete="off" placeholder="click to search"></form>
        </div>
        <div class="block-heading" style="height: 40px;"></div>
        <link rel="stylesheet" href="{% static 'css/newmain.css' %}" type="text/css">
        <nav class="navbar" style="background-color: #000000;
        margin-left: 110px;
        padding-top: 0px; 
        font-size: 12; height: 26px;">
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn">About Us »</button>
                <div class="subnav-content">
                    <a href="{% url 'moic:mission' %}">Mission & History</a>
                    <a href="{% url 'moic:dirigeants' %}">Leadership</a>
                    <a href="{% url 'moic:conference' %}">Conference Archieves</a>
                </div>
            </div>
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn">Our Work»</button>
                <div class="subnav-content">
                    <a href="{% url 'moic:peace' %}">Peace & multiculturalism for a better world</a>
                    <a href="{% url 'moic:simulation' %}">OIC Simulation</a>
                    <a href="{% url 'moic:humanity' %}">Humanitaria aid </a>
                    <a href="{% url 'moic:sustainable' %}">Promote sustainable development</a>
                </div>
            </div>
            <div class="subnav" style="
            overflow: hidden;
            border-right: .1px solid #ffffff7c;">
                <button class="subnavbtn" id="haov"><a style="color: white;" href="{% url 'moic:involved' %}">Get Involved</a></button>
            </div>
            </div>
            </div>
            <div class="subnav" style="float: left;
            overflow: hidden;
            border-right: .1px solid rgba(255, 255, 255, 0.486);">
                <button class="subnavbtn" style="color: hsl(0, 0%, 97%); background-color: red; float:  0px;"><a style="color: white;" href="{% url 'moic:corona' %}">Coronavirus(Covid-19)</a></button>
            </div>
        </nav>
         <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/--mp---Multiple-items-slider-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-CSS-Waves-Background-SVG.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-Menu-Icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Bold-BS4-Header-with-HTML5-Video-Background.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/BSB-Slider-3-Products.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Card-hover-affect-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Collapsible-Sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-card-image-left-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-header-cover-image-button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Diagonal-div-section.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Feature-Block-Image-Three-With-Full-Wide-Screen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/featured-products-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/featured-products-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Improved-v10.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-with-social-media-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js' %}/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Icon-Bar-Horizontal---mloureiro1973-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Icon-Bar-Horizontal---mloureiro1973.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Image-Tab-Gallery-Horizontal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Layer-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Paralax-Hero-Banner.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Paralax-Hero-Banner-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive-blog-card-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Responsive-Card-Item-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Search-Input-Responsive-with-Icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
    <div class="d-inline-flex flex-row flex-grow-1 flex-fill justify-content-around ip-icon-bar mt-3"></div>
                    
    <h2 class="text-success bg-light border-dark shadow-sm">An inclusive future for all</h2>
    
    <div class="container content">
        <h3>Transition and Transform</h3>
        <p>Set the height of the outer container to be high. The image holder to have a fixed height and width will cover the entire width of the parent. Background image will be given in the css and transform and transiton options to be given. Add and remove class containing the transform using jquery. The idea is to set a range for the window scrollTop positions and remove or add class based on requirement. This is done inside the if-else loop</p>
        <h3>Transition and Transform</h3>
        <p>Set the height of the outer container to be high. The image holder to have a fixed height and width will cover the entire width of the parent. Background image will be given in the css and transform and transiton options to be given. Add and remove class containing the transform using jquery. The idea is to set a range for the window scrollTop positions and remove or add class based on requirement. This is done inside the if-else loop</p>
        <h3>Transition and Transform</h3>
        <p>Set the height of the outer container to be high. The image holder to have a fixed height and width will cover the entire width of the parent. Background image will be given in the css and transform and transiton options to be given. Add and remove class containing the transform using jquery. The idea is to set a range for the window scrollTop positions and remove or add class based on requirement. This is done inside the if-else loop</p>
        <h3>Transition and Transform</h3>
        <p>Set the height of the outer container to be high. The image holder to have a fixed height and width will cover the entire width of the parent. Background image will be given in the css and transform and transiton options to be given. Add and remove class containing the transform using jquery. The idea is to set a range for the window scrollTop positions and remove or add class based on requirement. This is done inside the if-else loop</p>
    </div>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Highlight</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a><button class="btn btn-light" type="button">Secondary</button></div>
        </div>
    </section><figure class="snip1527">
<div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="pr-sample23" /></div>
<figcaption>
<div class="date"><span class="day">28</span><span class="month">Oct</span></div>
<h3>The World Ended Yesterday</h3>
<p>

You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.
</p>
</figcaption>
<a href="#"></a>
</figure>
<figure class="snip1527 hover">
<div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample24.jpg" alt="pr-sample24" /></div>
<figcaption>
<div class="date"><span class="day">17</span><span class="month">Nov</span></div>
<h3>An Abstract Post Heading</h3>
<p>

Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
</p>
</figcaption>
<a href="#"></a>
</figure>
<figure class="snip1527">
<div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample25.jpg" alt="pr-sample25" /></div>
<figcaption>
<div class="date"><span class="day">01</span><span class="month">Dec</span></div>
<h3>Down with this sort of thing</h3>
<p>

I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
</p>
</figcaption>
<a href="#"></a>

</figure>
</section>

            

<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'assets/js/--mp---Multiple-items-slider-responsive-1.js' %}"></script>
<script src="{% static 'assets/js/--mp---Multiple-items-slider-responsive.js' %}"></script>
<script src="{% static 'assets/js/Card-hover-affect-2.js' %}"></script>
<script src="{% static 'assets/js/Collapsible-Sidebar.js' %}"></script>
<script src="{% static 'assets/js/featured-products-slider.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
<script src="{% static 'assets/js/Image-Tab-Gallery-Horizontal.js' %}"></script>
<script src="{% static 'assets/js/Layer-Slider.js' %}"></script>
<script src="{% static 'assets/js/Paralax-Hero-Banner.js' %}"></script>
<script src="{% static 'assets/js/responsive-blog-card-slider-1.js' %}"></script>
<script src="{% static 'assets/js/responsive-blog-card-slider.js' %}"></script>
